/* src/index.css */
@import "tailwindcss";

@layer base {
  :root {
    /* Tema Claro */
    --color-background: #f8f9fa;
    --color-surface: #ffffff;
    --color-text-primary: #212529;
    --color-text-secondary: #6c757d;
    /* COR ALTERADA AQUI */
    --color-primary: #e63946;
    --color-primary-contrast: #ffffff;
    --color-border: #dee2e6;
    --color-tag-bg: #e2e3e5;
    --color-skeleton: #e0e0e0;
  }

  .dark {
    /* Tema Escuro */
    --color-background: #121212;
    --color-surface: #1e1e1e;
    --color-text-primary: #e0e0e0;
    --color-text-secondary: #a0a0a0;
    /* COR ALTERADA AQUI */
    --color-primary: #ff5252; 
    --color-primary-contrast: #ffffff;
    --color-border: #444444;
    --color-tag-bg: #333333;
    --color-skeleton: #333;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    transition: background-color 200ms, color 200ms;
  }
}